@charset "UTF-8";

:root {

--cinza: #1D1D1D;
--azulclaro: #2AB7CA;
--azul: #1e3266;
--azultonalidade: #356cb1;
--branco: #fff


}


@font-face {
    font-family: 'IBM';
    src: url(../fonts/IBMPlexSans-Medium.ttf);
}

body {
   
background-color: var(--branco);

}

.titulo {

    font-size: 2.5em;
    font-family: 'IBM';
    color: var(--cinza);
    text-align: center;
    padding-top: 115px;
    padding-bottom: 55px;

}


