@charset "UTF-8";


#habilidades {

background-color: var(--branco);
height: auto;


}

.container-habilidades {

display: flex;
justify-content: space-evenly ;

}

.caixa {

display: flex;

}

.item-habilidade:hover .icon-habilidades {

opacity: 0%;
transition: opacity 0.4s;


}

.item-habilidade1:hover  {

background-image: url(../img/htmlcor.png);
background-size: 64px;
background-repeat: no-repeat;
background-position: center;

}

.item-habilidade2:hover {

background-image: url(../img/csscor.png);
background-size: 64px;
background-repeat: no-repeat;
background-position: center;

}

.item-habilidade3:hover {

background-image: url(../img/jscor.png);
background-size: 64px;
background-repeat: no-repeat;
background-position: center;

}

.item-habilidade4:hover {

background-image: url(../img/gitcor.png);
background-size: 64px;
background-repeat: no-repeat;
background-position: center;


}

.item-habilidade5:hover, .item-habilidade6:hover {

background-image: url(../img/interrogacaocor.png);
background-size: 64px;
background-repeat: no-repeat;
background-position: center;

}

.item-habilidade {

display: flex;  
justify-content: center;  
margin: 15px;
background-color: var(--azul);
width: 85px;
height: 85px;
border-radius: 10px;
align-items: center;
border: 2px solid var(--branco);

}

.acao-habilidade {

width: 300px;
font-family: 'IBM';
height: 225px;
display: flex;
justify-content: center;
flex-direction: column;
margin-bottom: 115px;

}

.acao-habilidade h1 {

text-align: center;

}

.acao-habilidade {

text-align: justify;

}

.item-habilidade:hover {

border: 2px solid var(--azulclaro);
cursor: pointer;

}

.container-iconhabilidades {

height: 225px;

}

.icon-habilidades {

width: 64px;

}

@media (max-width: 700px) {

    .container-habilidades {

        flex-direction: column;
        align-items: center;
}

.acao-habilidade {

    margin-bottom: 50px;
    height: auto;
    
    }

    .container-habilidades {

margin-bottom: 115px;

    }
}

@media (max-width: 550px) {
   
.icon-habilidades {

width: 45px;

}    

.item-habilidade {

width: 64px;    
height: 64px;

}

.item-habilidade:hover {

background-size: 45px 45px;

}

}
